{% macro field(path, prop, name, value, li) -%}
{% set fullname = path + name %}
<div class="{{ prop.type}} {{ name }}">
{% if prop.title and not li %}
<label for='{{fullname}}'> {{ prop.title }} </label>
{% endif %}
{% if prop.type == 'string' %}
<input type='text' name='{{fullname}}' value='{{value}}' />
{% elif prop.type == 'number' %}
<input type='number' name='{{fullname}}' value='{{value}}' />
{% elif prop.type == 'object' %}
{% if not li %}
{% endif %}
{% set fullpath = path + name + "." %}
{% for name, prop in prop.properties.items() %}
{{ field(fullpath, prop, name, value[name], False) }}
{% endfor %}
{% if not li %}
{% endif %}
{% elif prop.type == 'array' %}
<ul>
  {% for item in value %}
  <li>
    {% set index_name = name ~ "[" ~ loop.index0 ~ "]" %}
    {{ field(path, prop['items'], index_name, item, True) }}
    <button class="delete" name="delete" value="{{ path ~ index_name }}">
    </button>
  </li>
  {% endfor %}
  <li>
    {% set index_name = name ~ "[" ~ (value|length) ~ "]" %}
    {{ field(path, prop['items'], index_name, "", True) }}
  </li>
</ul>
{% else %}
<p> unknown type: {{ prop }} </p>
{% endif %}
</div>
{%- endmacro %}
<form class='{{ schema.title.lower() }}' method="post" action='{{ href }}'>
  <h1> {{ schema.title }} </h1>
  {% for name, prop in schema.properties.items() %}
  {{ field("", prop, name, value[name], False) }}
  {% endfor %}
  <input type='submit' value='submit'></input>
</form>
