
:root {
  font-family: arial;
  font-size: 16px;
}
form {
  label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .array, .object {
    padding: 0 0.5rem;
  }
  .tags {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    input {
      field-sizing: content;
      min-width: 50px;
    }
  }
  .items {
    ul {
    }
  }
  .delete {
    border: none;
    background-color: transparent;
    &::before {
      cursor: pointer;
      content: "🗙";
    }
  }
}
