
:root {
  font-family: arial;
  font-size: 16px;
}
form {
  display: flex;
  flex-direction: column;
  width: 480px;
  label {
    min-width: 10rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
  }
  .string, .number {
    display: flex;
    flex-direction: column;
    label {
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .object, .array {
    div {
      margin-left: 1rem;
    }
  }
  .tags {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      li {
          background-color: #cfc;
          border-radius: 0.5rem;
        input {
          border-radius: 0.5rem;
          background-color: #cfc;
          field-sizing: content;
          min-width: 1rem;
          border: none;
          padding: 0.5rem;
        }
      }
    }
  }

  .items {
    ul {
      li {
        display: flex;
        flex-direction: column;
        button {
          align-self: end;
        }
      }
    }
  }


  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &.add {
      color: blue;
    }
    &.delete {
      color: red;
    }
  }
  .error {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
